.form_container{
    display: flex;
    margin-top: 80px;
    align-items: center;
    justify-content: center;
    flex-direction: column;-webkit-animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.form{
    margin: auto;
    width: 90%;
    max-width: 400px;
    padding: 2.0em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0/90%);
    text-align: center;
}
.form_tittle{
    font-size: 2rem;
    margin-bottom: .5em;
}
.form_content{
    margin-top: 3em;
    display: grid;
    gap: 2.5em
}
.form_group{
    position: relative;
    --color: #5757577e
}
.form_input{
    width: 100%;
    background: none;
    color: #706c6c;
    font-size: 1rem;
    padding: .6em .3em;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--color);
    font-family: 'Poppins', sans-serif
}
.form_input:focus + .form_label, .form_input:not(:placeholder-shown)+ .form_label{
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color: #3866f2
}
.form_label{
    color: var(--color);
    cursor: pointer;
    position:absolute;
    top:0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, var(--color) .3s
}
.form_submit{
    background-color: #3866f2;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    padding: 0.8em 0;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    transition: all 300ms ease;
    width: 180px;
}
.form_submit:hover{
    background-color: #072580;
}
.btn_modal{
    background-color: #3866f2;
    color: #3866f2;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    padding: 0.8em 0;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    transition: all 300ms ease;
    width: 180px;
}
#btn-modal{
    display: none;
}
.container-modal{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(144, 148, 150, 0.8);
    z-index: 100;
    display: none;
    align-items: center;
    justify-content: center;
}
.content-modal{
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff ;
    border-radius: 4px;
}
.content-modal h1{
    margin-bottom: 15px;
}
.content-modal p{
    padding: 15px 0px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb
}
.content-modal .btn-cerrar{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}
.content-modal .btn-cerrar label{
    padding: 7px 10px;
    background-color: #5488a3;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease
}
.content-modal .btn-cerrar label:hover{
    background-color: #072580;
}
#btn-modal:checked ~ .container-modal{
    display: flex
}
.form_line{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #3866f2;
    transform: scale(0);
    transform: left bottom;
    transition: transform .4s;
}
.form_input:focus ~  .form_line, .form_input:not(:placeholder-shown) ~ .form_line{
    transform: scale(1);   
}

@-webkit-keyframes focus-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(300px);
              transform: translateZ(300px);
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(12px);
              transform: translateZ(12px);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes focus-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(300px);
              transform: translateZ(300px);
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(12px);
              transform: translateZ(12px);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  