li{
    list-style: none;    
}
.link{
    text-decoration: none;
    font: siza 1rem
}
.link:hover{
    color: orangered
}
header{
    border-bottom: 0.5px;
    position: relative;
    padding: 0.2rem;
}
img{
    width: 3.7em;
    height: 3.7em;
    border-radius: 50%;
}
.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200pxmargin 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .links{
    display: flex;
    gap: 2rem
}
.navbar .toggle_btn{
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.action_btn{
    background-color: orangered;
    color: whitesmoke;
    padding: 0.5rem 1rem;
    /* border: none;
    outline: none; */
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    transition: scale .2 ease
}
.action_btn:hover{
    scale: 1.05;
    color: #fff;
}
.dropdown_menu{
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(82, 7, 211, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    display: none;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 1;
}
.dropdown_menu.open{
    height: 240px;
}
.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown_menu .action_btn{
    width: 100%;
    text-align: center;
}
@media(max-width: 992px){
    .navbar .links,
    .navbar .action_btn{
        display: none;
    }
    .navbar .toggle_btn{
        display: block
    }
    .dropdown_menu{
        display: block;
    }
}


input[type="checkbox"]{
    appearance: none;
    visibility: hidden;
    display: none;
}
.check{
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    background: #092c3e;
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
    transition: ease-in 0.5s;
    transform: translateY(-220px);
    margin-left: -150px
}
@media(max-width: 576px){
    .dropdown_menu{
        left: 0.5rem;
        width: unset;
    }

}
input[type="checkbox"]:checked  ~ .check{
    background: #fff;
    box-shadow: 0 0 0 1200px #092c3e;
}
.check:before{
    content: '';
    position:absolute;
    top: 2px;
    left: 2px;
    background: #fff;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: 0.5s;
}
input[type="checkbox"]:checked  ~ .check:before{
    transform: translateX(-50px);
}
.check:after{
    content: '';
    position:absolute;
    top: 2px;
    left: 2px;
    background: #092c3e;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: 0.5s;
    transform: translateX(50px)
}
input[type="checkbox"]:checked  ~ .check:after{
    transform: translateX(0px);
}

@media screen and (min-width: 720px) {
    
}




