li{
    list-style: none;    
}
.link{
    text-decoration: none;
    font-size: 1rem;
    background-image: linear-gradient(
    to right,
    #ff7431,
    #ff7431 50%,
    #000 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  font-weight: bold;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}
.link:before{
    content: '';
  background: #ff7431;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}
.link:hover {
    background-position: 0;
}

.link:hover::before{
  width: 100%;
}
header{
    border-bottom: 0.5px;
    position: fixed;
    width: 100%;
    margin-top: -80px;
    z-index: 2;
    padding: 0.2rem;
    box-shadow: 2px 4px 6px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 2px 4px 6px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 4px 6px 0px rgba(0,0,0,0.75);
    background-color: rgb(88,156,170);
}
.logo img{
    width: 3.7em;
    height: 3.7em;
    border-radius: 50%;
    margin-top: 1px;
}
.logo:hover{
    scale: 1.1;
}
.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200pxmargin 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .links{
    display: flex;
    gap: 2rem
}
.navbar .toggle_btn{
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.action_btn{
    background-color: orangered;
    color: whitesmoke;
    padding: 0.5rem 1rem;
    /* border: none;
    outline: none; */
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    transition: scale .2 ease;
    margin-right: 20px;
    text-decoration: none;
}
.action_btn:hover{
    scale: 1.1;
    color: #fff;
}
.dropdown_menu{
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 400px;
    background: rgba(82, 7, 211, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    display: none;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    /* z-index: 1; */
}
.dropdown_menu.open{
    height: 240px;
}
.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
    border: solid
}


@media(max-width: 992px){
    .navbar .links,
    .navbar .action_btn{
        display: none;
    }
    .navbar .toggle_btn{
        display: block
    }
    .dropdown_menu{
        display: block;
    }
    .action_btn{
        background-color: orangered;
        color: whitesmoke;
        padding: 0.5rem 1rem;
        /* border: none;
        outline: none; */
        border-radius: 20px;
        font-size: 0.8rem;
        font-weight: bold;
        transition: scale .2 ease;
    }
}



@media(max-width: 576px){
    .dropdown_menu{
        left: 0.5rem;
        width: unset;
    }
    .action_btn{
        background-color: orangered;
        color: whitesmoke;
        padding: 0.5rem 1rem;
        /* border: none;
        outline: none; */
        border-radius: 20px;
        font-size: 0.8rem;
        font-weight: bold;
        transition: scale .2 ease;
    }
}





input[type="checkbox"]{
    appearance: none;
    visibility: hidden;
    display: none;
}
.check{
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    background: #092c3e;
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
    transition: ease-in 0.5s;
    transform: translateY(-220px);
    margin-left: -150px
}


input[type="checkbox"]:checked  ~ .check{
    background: #fff;
    box-shadow: 0 0 0 1200px #092c3e;
}
.check:before{
    content: '';
    position:absolute;
    top: 2px;
    left: 2px;
    background: #fff;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: 0.5s;
}
input[type="checkbox"]:checked  ~ .check:before{
    transform: translateX(-50px);
}
.check:after{
    content: '';
    position:absolute;
    top: 2px;
    left: 2px;
    background: #092c3e;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: 0.5s;
    transform: translateX(50px)
}
input[type="checkbox"]:checked  ~ .check:after{
    transform: translateX(0px);
}
